<head>
    <link rel="stylesheet" href="stylesheets/page.css">
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/index">Home</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="mx-auto" href="/">
                <img rel="icon" src="images/calendar.ico" height="30" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/friends">Schedules</a>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-row ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="/logout"><button type="submit" class="btn btn-danger">Log out</button></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-xl justify-content-center mt-2 pt-2">
        <div class="row justify-content-center m-5 p-5">
            <div class="col-md-12">
               <%# <p>successful login for !</p>    %>
                <div class="row">
                    <div class="col-md-10">
                        <%if @tables.empty?%>
                            <h1>You have no planners make one now!</h1>
                            <a href="/schedules/new"><button type="submit" class="btn btn-success">New Planner</button></a>
                        <%else%>
                            <table class="table mb-5 pb-5">
                            <%#@tables.each do |t| %>
                                <h2 id="id">id</h2>
                                <thead class="thead-light">
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        <%end%>
                    <%#end%>
                    </div>
                    <div class="col-md-2 justify-content-center">
                        <h4>Planners</h4>
                        <%if @tables.empty?%>
                            <p>None</p>
                        <%else%>
                        <ul class="nav flex-column">
                            <li class="nav-item text-dark">
                                <%@tables.each do |t|%>
                                    <a class="nav-link active" href="#<%=t.title%>"><%=t.title%></a>
                                <%end%>
                            </li>
                        </ul>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>