<head>
  <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
  <div class="container-xl mt-5 pt-5">
    <a class="nav-link text-left text-dark" href="/">Home</a> 
    <div class="row justify-content-center m-5 p-5">
      <div class="col-md-4">
        <h1 class="text-center">Log In</h1>
        <%if @error%>
          <div class="alert alert-danger" role="alert">
            Wrong username.
          </div>
        <%end%>
        <%if @no_user%>
          <div class="alert alert-danger" role="alert">
            No user found. Please sign up.
          </div>
        <%end%>
        <%if @wrong_password%>
          <div class="alert alert-danger" role="alert">
            Wrong password.
          </div>
        <%end%>
        <form action="/login" method="POST" >
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" autocomplete="off" id="username" placeholder="Username" name="username">
            <small id="emailHelp" class="form-text text-muted">case sensitive</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" autocomplete="off" id="password" placeholder="Password" name="password">
            <a class="nav-link text-right text-dark" href="/signup">Sign Up</a> 
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>
    </div>
  </div>
</body>