<head>
  <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<div class="content-login">
  <div class="container-login">
    <h1>Log In</h1>
    <div class="container-inputs">
      <%if @error%>
      <div class="alert alert-danger" role="alert">
        Wrong username or password.<br>Please try again.
      </div>
      <%end%>
      <%if @no_user%>
      <div class="alert alert-danger" role="alert">
        No user found. Please sign up.
      </div>
      <%end%>
      <%if @wrong_password%>
      <div class="alert alert-danger" role="alert">
        Wrong password. Please try again.
      </div>
      <%end%>
      <form action="/login" method="POST">
        <div class="container-input">
          <label for="username">
          Username 
          </label>
          <input autocomplete="off" placeholder="Username" id="username" type="text" name="username">
        </div>
        <div class="container-input">
          <label for="password">
          Password
          </label>
          <input autocomplete="off" placeholder="Password" id="password" type="password" name="password">
        </div>
         <div class="con-signup">
          <a href="/signup">
          Sign Up
          </a> 
          <a>|</a>
          <a href="/">
          Home
          </a>
        </div>
    </div>
    <footer>
    <button class="btn btn-primary" type="submit">
    Log In
    </button>
  </footer>
   </form>
  </div>
</div>
</body>