<head>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<div class="content-login">
  <div class="container-login">
    <h1>Log In</h1>
    <div class="container-inputs">
      <form action="/login" method="POST">
        <div class="container-input">
          <label for="username">
          Username 
          </label>
          <input placeholder="username" id="username" type="text" name="username">
        </div>
        <div class="container-input">
          <label for="password">
          Password
          </label>
          <input id="password" type="password" name="password">
        </div>
         <div class="con-signup">
          <a href="/signup">
          Sign Up
          </a>
        </div>
    </div>
    <footer>
    <button class="btn" type="submit">
    Log In
    </button>
  </footer>
   </form>
  </div>
</div>
</body>