<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/planners">Home</a>      
                <a class="nav-link" href="/planners/new">New planner</a>  
            </div>
            <a class="nav-item ml-auto" href="/logout"><button type="submit" class="btn btn-danger">Log out</button></a>
        </div>
    </nav>
     <div class="container-xl justify-content-center m-5 p-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Yikes! This table does not exist.</h1>
            </div>
            <div class="col-md-8 mt-3 pt-3">
                <h2>Make a planner now!</h2>
                <a href="/planners/new"><button type="submit" class="btn btn-success">New Planner</button></a>
            </div>
        </div>
     </div>
</body>