<head>
  <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>
<div class="content-signup">
  <div class="container-signup">
    <h1>Sign Up</h1>
    <div class="container-inputs">
      <%if @error%>
      <div class="alert alert-danger" role="alert">
        Please try again.
      </div>
      <%end%>
       <%if @username_taken%>
      <div class="alert alert-danger" role="alert">
        Username taken. Please try another.
      </div>
      <%end%>
      <form action="/signup" method="POST">
        <div class="container-input">
          <label for="username">
          Username 
          </label>
          <input autocomplete="off" placeholder="Username" id="username" type="text" name="username">
        </div>
        <div class="container-input">
            <label for="password">
            Password
            </label>
            <input autocomplete="off" placeholder="Password" id="password" type="password" name="password">
        </div>
            <div class="con-login">
              <a href="/login">
              Log In
              </a>
              <a>|</a>
              <a href="/">
              Home
              </a>
            </div>
        </div>
        <footer>
            <button class="btn btn-primary" type="submit">
            Sign Up
            </button>
        </footer>
    </form>
  </div>
</div>