<head>
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="/">
    <img src="images/calendar.ico" width="30" height="30">SinatraCalendar
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <%if logged_in?%>
        <li class="nav-item">
          <a href="/users/index" class="nav-link">Home</a>
        </li>
      <%else%>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login"><button class="btn btn-outline-primary" type="submit">Log In</button></a>
        </li>
      <%end%>
    </ul>
  </div>
</nav>

<div id="page-content">
    <div class="container-xl justify-content-center text-center mt-5 pt-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="font-weight-light mt-4 text-white">Need to keep track of assignments? </h1>
          <p class="lead text-white-50">Maybe you just need to make a schedule. Use SinatraCalendar! Create an account to get started.</p>
        </div>
      </div>
    </div>
  </div>
</body>